#accueil a {
  color: var(--color4);
  font-size: 0.8rem;
}

#accueil2 a {
  color: var(--color3) !important;
  background-color: var(--color4);
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 0.8rem !important;
}

/*************** sous-menu navbar***********/
.blackLine {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100vw;
  height: 24px;
  background-color: var(--color3);
}

.linksBox {
  display: flex;
  position: absolute;
  left: 0;
  top: 43px;
  width: 100vw;
  z-index: 500;
  transition: 0.5s ease;
  justify-content: center;
}

.linksBox .linkBox {
  width: fit-content;
  height: fit-content;
  padding: 0 15px 0 5px;
  font-size: 0.8rem;
  background-color: var(--color3);
}

.linkBox:hover a {
  color: var(--color1) !important;
}

.linkBox span {
  opacity: 0;
}
#link1 a {
  color: var(--color7);
}
#link2 a {
  color: var(--color8);
}
#link3 a {
  color: var(--color4);
}
#link4 a {
  color: var(--color5);
}

.linkBox span:nth-child(1) {
  animation: opAnim 1s 0.25s infinite ease-in;
}
.linkBox span:nth-child(2) {
  animation: opAnim 1s 0.5s infinite ease-in;
}
.linkBox span:nth-child(3) {
  animation: opAnim 1s 0.75s infinite ease-in;
}
/********************/

.welcomeBox {
  width: 100%;
  height: fit-content;
  margin-top: 150px;
  padding-bottom: 30px;
  background-image: url("./assets/images/background/background3a.png");
  background-position: center;
  background-size: cover;
}

.bienvenue {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  color: var(--color7);
  opacity: 0;
  margin-top: 30px;
  transform: translateX(-400px);
  transition: 1s ease-in;
}

.presentation {
  transform: translateX(-200px);
  opacity: 0;
  margin: 20px auto;
  transition: 0.8s 0.2s ease-in;
  text-align: center;
  height: fit-content;
  font-size: 0.8rem;
}

#webPrint {
  color: transparent;
  animation: textanim2 1s 0.8s ease-in infinite;
}

.box {
  display: block;
  width: 80%;
  height: fit-content;
  margin: 80px auto;
  padding: 55px 0 55px 0;
  background-image: url("./assets/images/background/background3a.png");
  background-position: left;
  background-size: cover;
}

#visIdLink,
#logoLink,
#charteLink,
#webLink {
  height: 2px;
  width: 100%;
}

#visId,
#logo,
#charte,
#web {
  opacity: 0.2;
  transition: 0.5s ease-in;
}

.line1,
.line2 {
  position: absolute;
  transition: 0.8s 0.5s ease-in;
}

#visId .line1 {
  top: 25px;
  left: 145px;
  width: 0px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#visId .line2 {
  top: 40px;
  left: 3px;
  width: 2px;
  height: 0px;
  background: linear-gradient(
    180deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#logo .line1 {
  top: 25px;
  left: 150px;
  width: 0px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#logo .line2 {
  top: 40px;
  left: 3px;
  width: 2px;
  height: 0px;
  background: linear-gradient(
    180deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#charte .line1 {
  top: 25px;
  left: 158px;
  width: 0px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#charte .line2 {
  top: 40px;
  left: 3px;
  width: 2px;
  height: 0px;
  background: linear-gradient(
    180deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#web .line1 {
  top: 25px;
  left: 115px;
  width: 0px;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#web .line2 {
  top: 40px;
  left: 3px;
  width: 2px;
  height: 0px;
  background: linear-gradient(
    180deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

.text {
  position: relative;
  width: 80%;
  height: fit-content;
  color: var(--color1);
  margin: auto;
}

.text h3 span:nth-child(1) {
  padding-left: 10px;
}
.text h3 span:nth-child(2) {
  padding-left: 20px;
}
.text h3 span:nth-child(3) {
  padding-left: 30px;
}

.text p {
  text-align: justify;
  padding: 0 20px;
  font-weight: lighter;
}

.text ul li {
  padding-left: 25px;
}

.text ul li:nth-child(1)::before {
  content: "\2756";
  color: var(--color4);
  font-size: 1.2rem;
  margin-right: 10px;
}

.text ul li:nth-child(2)::before {
  content: "\2756";
  color: var(--color7);
  font-size: 1.2rem;
  margin-right: 10px;
}
.text ul li:nth-child(3)::before {
  content: "\2756";
  color: var(--color8);
  font-size: 1.2rem;
  margin-right: 10px;
}

.text ul li:nth-child(4)::before {
  content: "\2756";
  color: var(--color5);
  font-size: 1.2rem;
  margin-right: 10px;
}

.pic {
  width: 100%;
  height: auto;
  text-align: center;
}

.two {
  margin: auto;
  width: 160px;
  text-align: center;
  transform: rotateZ(5deg);
  transition: 0.3s 0.1s;
  animation: borderAnim 0.7s ease-in-out alternate infinite;
}

.two a {
  color: var(--color7);
}

.two:hover {
  transform: scale(1.2);
  animation-play-state: paused;
}

#visId .pic img {
  width: 250px;
  height: auto;
}

#logo .pic img {
  width: 200px;
  height: auto;
}

/******* retournement charte .pic au "hover" ***/
#picMove {
  height: 250px;
  background-color: transparent;
  perspective: 1000px;
}
.box-inner {
  margin: auto;
  position: relative;
  width: 175px;
  height: 250px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.box-inner:hover {
  transform: rotateY(-180deg);
}

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.box-back {
  transform: rotateY(180deg);
}

.box-inner img {
  width: 175px;
  height: 250px;
}
/*********/
/*********defilement image #web ***********/
#imgDefile {
  width: 300px;
  height: 215px;
  margin: auto;
}

.screen {
  position: relative;
  width: 300px;
  height: 215px;
  background-image: url("./assets/images/website/screenEmpty.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#imgPlace {
  position: absolute;
  width: 300px;
  height: 215px;
  top: 0;
  left: 0;
  transition: 0.5s 02s ease-in-out;
}

.pauseDefile {
  background-image: url("./assets/images/website/btnStop.png");
  visibility: visible;
}

.playDefile {
  background-image: url("./assets/images/website/btnPlay.png");
  visibility: hidden;
}
.playDefile,
.pauseDefile {
  position: absolute;
  width: 90px;
  height: 28px;
  top: 155px;
  right: 102px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/**********************/
#visId h2 {
  color: var(--color7);
}

#logo h2 {
  color: var(--color8);
}

#charte h2 {
  color: var(--color4);
}
#web h2 {
  color: var(--color5);
}

#perso {
  display: block;
  width: 90%;
  margin: 80px auto;
  padding: 55px 0 55px 0;
  background-image: url("./assets/images/background/background3a.png");
  background-position: left;
  background-size: cover;
}
#perso h2 {
  position: relative;
  text-align: center;
  margin: auto;
  width: 200px;
}

#perso h2::before {
  content: "";
  transform: translateX(-50%);
  position: absolute;
  top: 24px;
  left: -10px;
  height: 2px;
  width: 60px;
  animation: stretchLine 0.5s 2.3s ease-in forwards;
  background: linear-gradient(
    -90deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#perso h2::after {
  content: "";
  transform: translateX(-50%);
  position: absolute;
  top: 24px;
  right: -65px;
  height: 2px;
  width: 60px;
  animation: stretchLine 0.5s 2.3s ease-in forwards;
  background: linear-gradient(
    90deg,
    rgb(95, 221, 175, 1) 0%,
    rgb(249, 184, 32) 25%,
    rgb(197, 40, 100) 50%,
    rgb(64, 158, 202) 75%,
    rgba(221, 153, 187, 0) 100%
  );
}

#perso p {
  text-align: justify;
  font-weight: lighter;
  width: 70%;
  margin: auto;
}

#perso h3 {
  color: var(--color8);
  font-size: 2rem;
  text-align: center;
  padding-top: 100px;
}

/*******medias***********************/

@media screen and (max-width: 730px) {
  .presentation {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 457px) {
  .presentation {
    font-size: 0.7rem;
  }
}

@media screen and (min-height: 700px) and (min-width: 700px) {
  .presentation {
    margin-top: 80px;
  }
}
