@font-face {
  font-family: "BadScript";
  src: url(./assets/fonts/BadScript-Regular.ttf);
}
:root {
  --color1: rgb(190, 191, 191);
  --color2: #bb2649;
  --color3: #191919;
  /******chosen*************/
  --color4: #ffc43d;
  --color5: #06d6a0;
  --color6: #4d4949;
  --color7: #1b9aaa;
  --color8: #ef476f;

  --gradientA0: linear-gradient(90deg, #1b9aaa 0%, #d1f0f4 90%);
  --gradientA1: linear-gradient(135deg, #1b9aaa 0%, #d1f0f4 90%);
  --gradientA2: linear-gradient(180deg, #ef476f 0%, #1b9aaa 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "BadScript", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  min-height: 100vh;
  color: var(--color1);
  background-image: url(./assets/images/background/background1b.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  width: 100%;
}

.banner {
  background-image: url(./assets/images/banner/B41a.png);
  background-position: center;
  background-size: cover;
  height: 54px;
  width: 100%;
  margin-bottom: 100px;
}

.menu {
  position: fixed;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 52px;
  width: 100vw;
  height: 45px;
  background: var(--color3);
  z-index: 500;
  border-bottom: 1px solid;
  border-color: var(--color4);
}

.changeColor {
  position: relative;
  font-size: 1.6rem;
  width: 15%;
  min-width: 150px;
  height: 54px;
  color: var(--color4);
  pointer-events: none;
}

.changeColor span {
  position: absolute;
  opacity: 0;
}

#g {
  left: 30px;
}

#r {
  left: 46px;
}
#a1 {
  left: 54px;
}

#p {
  left: 65px;
}

#h {
  left: 75px;
}

#y {
  left: 86px;
}

#s1 {
  left: 97px;
}

#a2 {
  left: 105px;
}

#l {
  left: 116px;
}

#i {
  left: 123px;
}

#s2 {
  left: 127px;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 54px;
}

.menu ul li a {
  color: var(--color1);
  font-size: 0.6rem;
  letter-spacing: 2px;
}

.menu ul li:hover a {
  color: var(--color4);
}

.menu h6 {
  position: absolute;
  color: var(--color4);
  font-size: 0.8rem;
  top: 0;
  left: 17px;
}

.currentPage {
  left: 140%;
  top: 12px;
  font-size: 1.3rem;
  font-weight: lighter;
  color: var(--color7);
  animation: textanim3 1.5s 1s ease-in-out forwards;
}

#side-bar {
  display: none;
  position: absolute;
  transition: 0.5s ease;
  width: 150px;
  height: 100vh;
  background: var(--color3);
  top: 95px;
  left: -150px;
  z-index: 20;
}

#btn {
  position: absolute;
  top: 18px;
  left: 10px;
  cursor: pointer;
  height: auto;
  width: 30px;
  background-color: transparent;
  z-index: 150;
}

#btn span {
  display: block;
  width: 30px;
  height: 2px;
  background: var(--color7);
  margin: 3px;
  transition: 0.3s ease;
}

#side-bar.active {
  left: 0px;
}
.arrow3 {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  justify-content: center;
  z-index: 550;
  transition: 0.3s 0.2s ease-in;
  background-color: var(--color3);
}

.arrow3 a img {
  width: 45px;
  height: auto;
  margin-top: 10px;
}

.arrow3 span {
  padding-left: 10px;
  font-size: 0.8rem;
  color: var(--color1);
}
#btn.cross span {
  position: absolute; /*pour mettre les 3 span au meme niveau*/
  top: 10px;
}
#btn.cross span:nth-child(1) {
  transform: rotate(45deg);
}

#btn.cross span:nth-child(2) {
  opacity: 0;
}

#btn.cross span:nth-child(3) {
  transform: rotate(-45deg);
}

/*si class active injecté alors (~) son frere :   */
.active ~ .content {
  opacity: 0.5;
}

#side-bar ul li {
  padding-left: 15px;
  letter-spacing: 2px;
  padding-top: 20px;
}

#side-bar ul li a {
  color: var(--color1);
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

/*************** sous-menu sideBar ***********/
.linksBox2 {
  display: block;
  transition: 0.5s ease;
}

.linkBox2 {
  width: fit-content;
  height: fit-content;
  font-size: 0.8rem;
  padding: 15px 0 0 30px;
}

.linkBox2 span {
  opacity: 0;
}
#sideBarLink1 a {
  color: var(--color7);
}
#sideBarLink2 a {
  color: var(--color8);
}
#sideBarLink3 a {
  color: var(--color4);
}
#sideBarLink4 a {
  color: var(--color5);
}

.linkBox2 span:nth-child(1) {
  animation: opAnim 1s 0.25s infinite ease-in;
}
.linkBox2 span:nth-child(2) {
  animation: opAnim 1s 0.5s infinite ease-in;
}
.linkBox2 span:nth-child(3) {
  animation: opAnim 1s 0.75s infinite ease-in;
}
/********************/

footer {
  background: var(--color3);
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 50px;
  height: fit-content;
}
.cgvmlReseauxBox {
  display: flex;
  width: 100%;
}

.cgvmlBox {
  width: 50%;
  height: fit-content;
}

.cgvmlLink2 {
  width: fit-content;
  padding-left: 50px;
}
.cgvmlLink2 a {
  color: var(--color1);
  font-size: 1rem;
}

.reseaux1 {
  display: flex;
  width: 50%;
  height: fit-content;
  min-width: 220px;
  justify-content: center;
}

.reseaux1 a {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  margin: 15px;
}

#fb {
  background-image: url("./assets/images/logos/logo-fb.png");
}
#fb:hover {
  background-image: url("./assets/images/logos/logo-fb2.png");
}
#linkedin {
  background-image: url("./assets/images/logos/logo-linkedin.png");
}
#linkedin:hover {
  background-image: url("./assets/images/logos/logo-linkedin2.png");
}
#tw {
  background-image: url("./assets/images/logos/logo-twitter.png");
}
#tw:hover {
  background-image: url("./assets/images/logos/logo-twitter2.png");
}

#insta {
  background-image: url("./assets/images/logos/logo-insta.png");
}
#insta:hover {
  background-image: url("./assets/images/logos/logo-insta2.png");
}

#fb2 {
  background-image: url("./assets/images/logos/logo-fb3.png");
}
#fb2:hover {
  background-image: url("./assets/images/logos/logo-fb4.png");
}
#linkedin2 {
  background-image: url("./assets/images/logos/logo-linkedin3.png");
}
#linkedin2:hover {
  background-image: url("./assets/images/logos/logo-linkedin4.png");
}
#tw2 {
  background-image: url("./assets/images/logos/logo-twitter3.png");
}
#tw2:hover {
  background-image: url("./assets/images/logos/logo-twitter4.png");
}

#insta2 {
  background-image: url("./assets/images/logos/logo-insta3.png");
}
#insta2:hover {
  background-image: url("./assets/images/logos/logo-insta4.png");
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 0.7rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 25px;
}

/**************************MEDIAS*******************/
@media screen and (max-width: 550px) {
  .banner {
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .menu ul {
    display: none;
  }
  .menu h2 {
    width: 50%;
  }

  .changeColor {
    left: -50px;
  }

  #side-bar {
    display: block;
    position: fixed;
  }

  .blackLine {
    display: none;
  }

  .cgvmlReseauxBox {
    display: block;
  }

  .cgvmlBox {
    width: 80%;
    margin: auto;
  }

  .cgvmlLink2 {
    margin: auto;
    padding-left: 0px;
  }

  .reseaux1 {
    width: 70%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 370px) {
  .changeColor {
    left: -18px;
  }
}

@media screen and (min-width: 551px) {
  #btn {
    display: none;
  }

  .menu h6 {
    display: none;
  }
  .currentPage {
    display: none;
  }
}
